*{
    font-family: 'Mulish', sans-serif;
    padding: 0;
    margin: 0;
}
:root{
    --color: white;
}

body{
    background-image: url(/image/restaurant\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

main{
    text-align: center;
    width: 70%;
}

h1{
    font-weight: 400;
    font-size: 50px;
    margin-bottom: 25px;
}

span{
    font-weight: 600;
}

p{
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 30px;
}

button{
    font-size: 20px;
    font-weight: 300;
    margin-right: 10px;
    width: 30%;
    height: 70px;
    cursor: pointer;
    background-color: var(--color);
    border-radius: 2px;
    border: 0;
}

.rArrow{
    position: absolute;
    left: 94.44%;
    right: 4.17%;
    top: 48.1%;
    bottom: 47.9%;
}

.lArrow{
    position: absolute;
    left: 3.82%;
    right: 94.79%;
    top: 48.1%;
    bottom: 47.9%;
}